requests==2.32.3
beautifulsoup4==4.13.3
python-dotenv==1.0.1
selenium==4.29.0
webdriver-manager==4.0.2
yt-dlp==2025.2.19
websockets==15.0.1
brotli==1.1.0
aiodns==3.2.0
chardet==5.2.0
pycares==4.5.0
urllib3==2.3.0
# [code_style]-[BEGIN]
ruff==0.11.5

# Pre-commit hook.
pre-commit==4.2.0

# [code_style]-[END]
